body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  text-transform: uppercase;
}
* {
  box-sizing: border-box;
}
ul, menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: underline;
}
img {
  display: block;
  width: 100%;
  max-width: 1200px;
}
.menu-trigger {
  display: inline-block;
  cursor: pointer;
}
.menu-trigger:hover {
  text-decoration: underline;
}
menu li {
  margin-bottom: 13px;
}
menu li:last-child {
  margin-bottom: 0;
}
menu a.active {
  text-decoration: underline;
  pointer-events: none;
}
.menu-secondary {
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 16px;
}
.left {
  padding: 15px;
}
.right {
  padding: 15px;
}
.item {
  margin-bottom: 15px;
}
.item:last-child {
  margin-bottom: 0;
}
.item a {
  text-decoration: underline;
}
.item a:hover {
  text-decoration: none;
}
@media only screen and (min-width: 1000px) {
  .left, .right {
    display: inline-block;
    vertical-align: top;
    padding: 40px;
  }
  .left {
    position: sticky;
    top: 0;
  }
  .right {
    max-width: 800px;
  }
  .item {
  margin-bottom: 40px;
}