body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  text-transform: uppercase;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul, menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: underline;
}
img {
  display: block;
  width: 100%;
  max-width: 1200px;
}
.menu-trigger {
  display: inline-block;
  cursor: pointer;
}
.menu-trigger:hover {
  text-decoration: underline;
}
menu li {
  margin-bottom: 13px;
}
menu li:last-child {
  margin-bottom: 0;
}
menu a.active {
  text-decoration: underline;
  pointer-events: none;
}
.menu-secondary {
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 16px;
}
.left {
  padding: 15px;
}
.right {
  padding: 15px;
  padding-bottom: 30px;
  width: 100%;
}
.item {
  margin-bottom: 15px;
}
.item:last-child {
  margin-bottom: 0;
}
.item a {
  text-decoration: underline;
  display: block;
}
.item a:hover {
  text-decoration: none;
}
.item span {
  margin-top: 4px;
  display: block;
}
video {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mainpage-item {
    position: absolute;
    bottom: 40px;
    right: 40px;
    max-width: 300px;
  }
  .left, .right {
    display: inline-block;
    vertical-align: top;
    padding: 40px;
  }
  .left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .right {
    max-width: 550px;
    padding-bottom: 70px;
  }
  .item {
    margin-bottom: 25px;
  }
}